
h1 {
    font-size: 2.5rem;
    margin-top: 1.5rem;
    text-align: center;
}
body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(192, 107, 107);
    color:beige
}
#cvpdf {
    width: 80%;
    margin: 0 auto;
}

